flows.json
[{"id":"4b21a148.16268","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bd42fbd6.2de368","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1fb728a7.3bbd77","type":"s7 endpoint","z":"","address":"172.17.32.231","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"500","timeout":"1500","verbose":"default","name":"test","vartable":[{"addr":"%DB1.DBW0","name":"Int1"}]},{"id":"fbb7f7c.aab6408","type":"s7comm","z":"","ip":"172.17.32.231","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"1","S7_Datatype":"I","S7_Offset":"262","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"Int_M"}]},{"id":"556a448b.76cc5c","type":"s7 in","z":"4b21a148.16268","endpoint":"1fb728a7.3bbd77","mode":"single","variable":"Int1","diff":false,"name":"Int1","x":610,"y":120,"wires":[["1a86de81.950931"]]},{"id":"1a86de81.950931","type":"debug","z":"4b21a148.16268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":180,"wires":[]},{"id":"a6478bd3.b024c8","type":"s7comm read","z":"4b21a148.16268","connection":"fbb7f7c.aab6408","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"1\",\"S7_Datatype\":\"I\",\"S7_Offset\":\"262\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"Int_M\"}","s7Name":"Int_M","topic":"","name":"","signalSetted":false,"none":"true","repeat":"","once":true,"x":520,"y":340,"wires":[["c3d182fe.5d424"]]},{"id":"c3d182fe.5d424","type":"debug","z":"4b21a148.16268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":260,"wires":[]},{"id":"9466c1e4.4d8da","type":"inject","z":"4b21a148.16268","name":"","topic":"","payload":"-32767","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":320,"wires":[["a6478bd3.b024c8"]]},{"id":"22b32ef0.ded682","type":"azureiothub","z":"bd42fbd6.2de368","name":"Azure IoT Hub","protocol":"http","x":580,"y":260,"wires":[["8e4fd8fa.06ab98"]]},{"id":"d036f2c7.74b7c","type":"inject","z":"bd42fbd6.2de368","name":"","topic":"","payload":"{\"deviceId\":\"TestDevice1\",\"key\":\"xm4fLLiAE2hYTmCTBkqXKlkcLFjlOEknrxkvUMjVBNw=\",\"protocol\":\"http\",\"data\":\"{temp: 25, wind: 20}\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":200,"wires":[["22b32ef0.ded682"]]},{"id":"8e4fd8fa.06ab98","type":"debug","z":"bd42fbd6.2de368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]}]